= form_for BeOneAdmin::Login.new({}), url: admin_sign_in_path, class: "margin-bottom-0" do |f|
  .form-group.m-b-20
    =f.email_field :email, class: 'form-control form-control-lg', required: true, placeholder: t('admin.login.email')
  .form-group.m-b-20
    =f.password_field :password, class: 'form-control form-control-lg', required: true, placeholder: t('admin.login.password')
  .login-buttons
    = f.submit t('admin.login.login'), class: "btn btn-success btn-block btn-lg"
  .m-t-20
    =t('admin.login.forgot_password',url: admin_forgot_path).html_safe